.App {
  text-align: center;
}


.search-div{
  background-color: aliceblue;
    padding: 3px;
    max-width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.span-class{
  display: inline-block;
    background-color: azure;
    padding: 10px;
    margin: 5px;
}

.list-wrap{
  border: 1px solid;
    margin: 27px;
    width: 500px;
    margin-top: 10px;
}

.links{
  text-decoration: none;
  color:white;
}

.links:hover{
  color:lightgray;
  text-decoration:none;
}

.notFound{
  color:grey;
  text-align: center;

}
.error{
  text-align: center;
  margin-top: 5%;
  color:lightblue;
  font-size: 150px;
}

.drop{
  color:white;
  background-color: red;
  cursor: pointer;
  margin-top: 20%;
}